body{
	background-image: url("forest.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
h1{
	font-size: 50px;
	border-bottom: 3px solid black;
	border-right: 3px solid black;
	box-shadow: 4px 4px gray;
	width : 230px;
	text-align: center;
	font-family: fantasy;
}
h1:hover{
	color: green;
	cursor: pointer;
}
.container{
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
}
img {
	transition: all 1s;
	margin: 5px;
}
img:hover {
	transform: scale(1.4);
}